In [2]:
import tushare as ts

In [30]:
ts.get_stock_basics().head(5)

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
603279,N景津,环境保护,山东,20.86,0.41,4.00,366531.13,260969.80,0.00,0.00,...,6.47,3.02,20190729,0.00,0.00,0.0,0.0,0.00,11.53,42424.0
688028,沃尔德,专用机械,北京,112.55,0.18,0.80,40004.90,17804.60,13841.97,9487.85,...,10.46,8.48,20190722,19118.27,2.39,0.0,0.0,49.07,25.66,16756.0
688022,瀚川智能,专用机械,江苏,393.24,0.24,1.08,52977.30,39513.00,3594.71,1335.75,...,7.52,7.83,20190722,8997.23,0.83,0.0,0.0,33.51,5.09,21837.0
688333,铂力特,机械基件,陕西,0.00,0.18,0.80,79695.65,37409.65,31481.84,25386.74,...,12.40,6.17,20190722,6812.70,0.85,0.0,0.0,35.25,-2.18,13218.0
688066,航天宏图,软件服务,北京,0.00,0.38,1.66,78389.11,73296.97,2266.53,21274.03,...,6.57,9.26,20190722,9362.80,0.56,0.0,0.0,60.67,-23.82,33120.0

## 历史行情

In [29]:
ts.get_hist_data('000001',start='2019-03-01',end='2019-08-01',ktype='M')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2019-07-29,14.01,14.45,14.29,13.44,15092001.0,0.51,3.70,13.384,12.103,11.603,20469808.4,13867201.2,6933600.60
2019-06-28,12.22,13.95,13.78,11.60,16621583.0,1.60,13.14,12.998,11.779,11.557,21274357.0,12358001.1,6669508.65
2019-05-31,13.10,13.35,12.18,11.93,17990736.0,-1.67,-12.06,12.462,11.414,11.445,21391685.6,10695842.8,6536027.70
2019-04-30,12.83,14.84,13.85,12.83,25931698.0,1.03,8.03,11.902,11.138,11.392,17793538.4,8896769.2,6441582.90
2019-03-29,12.48,13.38,12.82,12.01,26713024.0,0.46,3.72,11.204,10.662,11.263,12607198.8,6303599.4,6459066.00

In [ ]:
ts.get_hist_data('600848', ktype='M') #获取月k线数据
ts.get_hist_data('600848', ktype='5') #获取5分钟k线数据
ts.get_hist_data('600848', ktype='15') #获取15分钟k线数据
ts.get_hist_data('600848', ktype='30') #获取30分钟k线数据
ts.get_hist_data('600848', ktype='60') #获取60分钟k线数据
ts.get_hist_data('sh'）#获取上证指数k线数据，其它参数与个股一致，下同
ts.get_hist_data('sz'）#获取深圳成指k线数据
ts.get_hist_data('hs300'）#获取沪深300指数k线数据
ts.get_hist_data('sz50'）#获取上证50指数k线数据
ts.get_hist_data('zxb'）#获取中小板指数k线数据
ts.get_hist_data('cyb'）#获取创业板指数k线数据

### 返回值说明
date：日期
open：开盘价
high：最高价
close：收盘价
low：最低价
volume：成交量
price_change：价格变动
p_change：涨跌幅
ma5：5日均价
ma10：10日均价
ma20:20日均价
v_ma5:5日均量
v_ma10:10日均量
v_ma20:20日均量
turnover:换手率

## 实时行情

In [17]:
ts.get_today_all().iloc[0:10,:]

[Getting data:]############################################################

,code,name,changepercent,trade,open,high,low,settlement,volume,turnoverratio,amount,per,pb,mktcap,nmc
0,688388,嘉元科技,7.959,62.26,59.16,62.30,57.68,57.67,18809678.0,35.59820,1.138351e+09,61.039,12.452,1.437434e+06,328974.698778
1,688333,铂力特,13.751,76.60,70.02,77.00,70.02,67.34,7747681.0,43.13989,5.743366e+08,80.632,11.677,6.128000e+05,137569.295080
2,688122,西部超导,9.700,51.12,47.65,51.78,47.50,46.60,14792592.0,37.25879,7.365735e+08,150.397,10.717,2.255782e+06,202958.111592
3,688088,虹软科技,12.649,66.35,60.20,69.58,60.20,58.90,15070049.0,39.65155,9.866864e+08,135.408,22.649,2.693810e+06,252171.170175
4,688066,航天宏图,13.603,60.88,58.00,63.89,54.70,53.59,19304626.0,51.27776,1.134171e+09,121.760,16.864,1.010507e+06,229195.964872
5,688033,天宜上佳,12.346,45.50,41.76,45.50,41.38,40.50,17381194.0,40.01566,7.615950e+08,68.939,13.422,2.041754e+06,197633.731750
6,688029,南微医学,5.005,129.03,124.11,129.88,124.11,122.88,7428607.0,24.28277,9.463551e+08,66.959,17.651,1.720486e+06,394729.750173
7,688028,沃尔德,20.000,88.68,79.50,88.68,76.50,73.90,5499858.0,30.29811,4.633425e+08,80.618,14.490,7.094400e+05,160976.183772
8,688022,瀚川智能,13.849,58.86,60.00,62.04,56.00,51.70,12000005.0,49.13053,7.149389e+08,67.655,24.941,6.356880e+05,143764.043184
9,688020,方邦股份,7.565,107.21,102.55,107.99,100.22,99.67,5929415.0,32.48433,6.242274e+08,54.979,13.435,8.576800e+05,195692.053313

## 复权数据

In [38]:
df = ts.get_stock_basics()
df.loc[['603279','600882'],:]

,name,industry,area,pe,outstanding,totals,totalAssets,liquidAssets,fixedAssets,reserved,...,bvps,pb,timeToMarket,undp,perundp,rev,profit,gpr,npr,holders
code,,,,,,,,,,,,,,,,,,,,,
603279,N景津,环境保护,山东,20.86,0.41,4.0,366531.13,260969.80,0.00,0.00,...,6.47,3.02,20190729,0.00,0.00,0.00,0.00,0.00,11.53,42424.0
600882,妙可蓝多,乳制品,上海,3319.42,4.06,4.1,272414.66,141973.88,56447.06,169424.88,...,2.99,4.17,19951206,-91932.75,-2.24,57.52,101.91,25.76,0.13,14055.0

In [50]:
ts.get_k_data('002337').head(5) #前复权

# ts.get_k_data('002337', autype='hfq') #后复权
# ts.get_k_data('002337', autype=None) #不复权
# ts.get_k_data('002337', start='2015-01-01', end='2015-03-16') #两个日期之间的前复权数据

# ts.get_k_data('399106', index=True) #深圳综合指数

         date   open  close   high    low   volume    code
0  2016-12-13  7.369  7.449  7.499  7.300  46297.0  002337
1  2016-12-14  7.459  7.329  7.459  7.310  48543.0  002337
2  2016-12-15  7.270  7.389  7.459  7.270  38856.0  002337
3  2016-12-16  7.399  7.539  7.539  7.389  44170.0  002337
4  2016-12-19  7.549  7.519  7.589  7.479  34584.0  002337

## 历史分笔

In [22]:
df = ts.get_tick_data('600848',date='2018-12-12',src='tt')
df.head(10)

C:\Users\Jax_y\NewAnaconda3\lib\site-packages\tushare\stock\trading.py:185: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  skiprows=[0])

       time  price  change  volume  amount type
0  09:30:03  20.68    0.03      24   49616   买盘
1  09:30:05  20.70    0.02       1    2070   卖盘
2  09:30:15  20.77    0.07       2    4152   买盘
3  09:30:26  20.78    0.01       8   16617   买盘
4  09:30:33  20.78    0.00       9   18702   卖盘
5  09:30:36  20.79    0.01       9   18711   买盘
6  09:30:42  20.78   -0.01       5   10388   买盘
7  09:30:45  20.78    0.00       3    6232   买盘
8  09:30:50  20.78    0.00       1    2078   买盘
9  09:30:54  20.78    0.00       3    6234   卖盘

### 返回值说明：

time：时间
price：成交价格
change：价格变动
volume：成交手
amount：成交金额(元)
type：买卖类型【买盘、卖盘、中性盘】

## 实时分笔

In [23]:
df = ts.get_realtime_quotes('000581')
df[['code','name','price','bid','ask','volume','amount','time']]

     code  name   price     bid     ask   volume        amount      time
0  000581  威孚高科  18.180  18.180  18.190  3246240  59045735.000  15:00:03

In [26]:
ts.get_realtime_quotes(['600848','000980','000981'])

,name,open,pre_close,price,high,low,bid,ask,volume,amount,...,a2_p,a3_v,a3_p,a4_v,a4_p,a5_v,a5_p,date,time,code
0,上海临港,36.400,36.410,36.660,37.100,36.200,36.660,36.680,9317806,340820999.000,...,36.690,876,36.700,215,36.710,147,36.720,2019-07-29,15:00:00,600848
1,众泰汽车,4.070,4.070,4.050,4.090,4.040,4.040,4.050,5033500,20429378.000,...,4.060,2494,4.070,1421,4.080,2419,4.090,2019-07-29,15:00:03,000980
2,ST银亿,1.640,1.650,1.610,1.650,1.610,1.610,1.620,12446600,20238497.000,...,1.630,11281,1.640,8665,1.650,2997,1.660,2019-07-29,15:00:03,000981

### 返回值说明
##### volume，成交量 maybe you need do volume/100
##### amount，成交金额（元 CNY）
##### b1_v，委买一（笔数 bid volume）
##### b1_p，委买一（价格 bid price）

## 大盘指数行情

In [51]:
ts.get_index().head(5)

,code,name,change,open,preclose,close,high,low,volume,amount
0,000001,上证指数,-0.12,2943.9180,2944.5410,2941.0070,2948.4665,2932.9773,127991846,1474.3913
1,000002,Ａ股指数,-0.12,3083.5385,3084.1904,3080.4940,3088.3107,3072.0870,127903595,1473.7752
2,000003,Ｂ股指数,-0.18,287.6967,287.7792,287.2551,288.1401,286.2824,88251,0.6162
3,000008,综合指数,-0.48,2891.2446,2892.6108,2878.6621,2891.2446,2870.1191,29793256,290.8230
4,000009,上证380,0.01,4567.1455,4567.0069,4567.5929,4582.1843,4548.5000,28383102,300.6522